body {
    position: relative;
    width: auto;
    height: 2000px;
    background: #ffffcc;
    font-style: normal;
    font-family: "Bitstream Vera Sans Mono", Monaco, "Courier New", Courier, monospace;
}

.price {
    font-weight: bold;
    font-size: 30px;

}
.price b {
    font-weight: normal;
    font-size: 18px;
    color: #008000;

}

.table {
	width: 500px;
	border: 2px solid #000;
	border-collapse: collapse;
	table-layout: auto;
}