body {
    position: relative;
    width: auto;
    height: 2000px;
    background: #FFFFFF;
    font-style: normal;
}

/* Navbar */
.navbar {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #000;
}

.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.navbar-menu {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;

}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.9;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    position: relative;
    margin: 0 auto;

}

.search {
    margin-left: 100px;
    padding: 7px 40px;
    background-color: #eef1f4;
    border-radius: 10px;
    color: #414141;
    text-decoration: none;
    border: 1.7px solid #000000;
    transition: all .1s ease-in-out;

}

.search:hover {
    transform: scale(1.02);
    color: #414141;

}

.navbar-brand {
    width: 115px;

}

.navbar-info {
    position: absolute;
    width: 1123px;
    height: 52px;
    left: 391px;
    top: 80px;

}

.line_blocks {
    padding-top: 20px;
}

/* Cards */

.cards {
    margin-left: 350px;
    width: 1300;

}

.cardaapl {
    width: 300px;
    height: 150px;
    margin-top: 100px;
    position: absolute;
    padding-top: 50px;
    padding-left: 110px;
    border: 1px solid #000;
    border-radius: 15px;

}
.cardaapl:hover {
    transform: scale(1.02);
    color: #414141;
}
.aapllink {
    text-decoration: none;
    font-size: 30px;
    color: #000000;

}

.cardamzn {
    width: 300px;
    height: 150px;
    margin-top: 100px;
    margin-left: 330px;
    position: absolute;
    padding-top: 50px;
    padding-left: 100px;
    border: 1px solid #000;
    border-radius: 15px;

}
.cardamzn:hover {
    transform: scale(1.02);
    color: #414141;
}
.amznlink {
    text-decoration: none;
    font-size: 30px;
    color: #000000;

}

.cardgoog {
    width: 300px;
    height: 150px;
    margin-top: 100px;
    margin-left: 660px;
    position: absolute;
    padding-top: 50px;
    padding-left: 100px;
    border: 1px solid #000;
    border-radius: 15px;

}
.cardgoog:hover {
    transform: scale(1.02);
    color: #414141;
}
.googlink {
    text-decoration: none;
    font-size: 30px;
    color: #000000;

}

.cardfb {
    width: 300px;
    height: 150px;
    margin-top: 100px;
    margin-left: 990px;
    position: absolute;
    padding-top: 50px;
    padding-left: 130px;
    border: 1px solid #000;
    border-radius: 15px;
}
.cardfb:hover {
    transform: scale(1.02);
    color: #414141;
}
.fblink {
    text-decoration: none;
    font-size: 30px;
    color: #000000;

}
