body {
position: relative;
width: 1920px;
height: 2000px;

background: #FFFFFF;
}

.navbar {
    width: 100%;
    height: 70px;
    box-shadow: 0 1px 1px black;

}
.navbar .container {
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.navbar-menu {
    font-weight: bold;
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;


}

.navbar-menu li {
    display: inline-block;
}

.navbar-menu li a {
    display: inline-block;
    color: black;
    opacity: 0.9;
    text-decoration: none;
    padding: 10px;
    transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
    opacity: 1;
}

.navbar-wrap {
    display: flex;
    flex-flow: row nowrap;
    width: 300px;
    position: relative;
    margin: 0 auto;
}

.search {
    margin-left: 100px;
    padding: 7px 40px;
    background-color: #eef1f4;
    border-radius: 10px;
    color: #414141;
    text-decoration: none;
    border: 1.7px solid #000000;
    transition: all .1s ease-in-out;



}
.search:hover {
    transform: scale(1.02);
    color: #414141;

}

.navbar-brand {
    width: 108px;
    height: 56px;

}

.navbar-info {
    position: absolute;
    width: 1123px;
    height: 52px;
    left: 391px;
    top: 80px;
}


/* Newsfeed */

.newsfeed .row .col-md-6 {
    width: 700px;
    margin: 70px auto;
}


.newsfeed .row .col-md-6 .card rounded shadow-lg m-2 {
     width: 600px;


}

