{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'main\css\cardstyle.css' %}">
    <title>AAPL</title>
</head>

<body>
<div class="Header">
    <h3><b>Apple inc. (AAPL)</b></h3>
    <div>
        <h1 class="price">
            <b>{{price}}</b> {{change}} {{times}}
        </h1>
    </div>
    <div>
        <h1>
            <b>{{price1}}</b> {{change1}} {{times1}}
        </h1>
    </div>
</div>

<table class="table">
    <tbody>
        <tr>
            <td>Previous close:</td>
            <td>{{previous_close}}</td>
            <td>market_cap :</td>
            <td>{{market_cap}}</td>
        </tr>
        <tr>
            <td>Open:</td>
            <td>{{open}}</td>
            <td>beta:</td>
            <td>{{beta}}</td>
        </tr>
        <tr>
            <td>Bid:</td>
            <td>{{bid}}</td>
            <td>pe_ratio:</td>
            <td>{{pe_ratio}}</td>
        </tr>
        <tr>
            <td>Ask:</td>
            <td>{{ask}}</td>
            <td>epc:</td>
            <td>{{epc}}</td>
        </tr>
        <tr>
            <td>days_range:</td>
            <td>{{days_range}}</td>
            <td>earn_date:</td>
            <td>{{earn_date}}</td>
        </tr>
        <tr>
            <td>week_range:</td>
            <td>{{week_range}}</td>
            <td>forward_div:</td>
            <td>{{forward_div}}</td>
        </tr>
        <tr>
            <td>Volume:</td>
            <td>{{volume}}</td>
            <td>ex_div:</td>
            <td>{{ex_div}}</td>
        </tr>
        <tr>
            <td>AVG. Volume:</td>
            <td>{{avgvolume}}</td>
            <td>target_est:</td>
            <td>{{target_est}}</td>
        </tr>
    </tbody>
</table>

</body>
</html>