<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FB</title>
</head>
<body>
    <div>
        <h1><b>FB</b></h1>
    </div>
    <div>
        <h1>
        <b>{{price}}</b>
        {{change}}
        {{times}}
        </h1>
    </div>
    <div>
        <h1>
        <b>{{price1}}</b>
        {{change1}}
        {{times1}}
        </h1>
    </div>

    <div class = "container">
        <p>Previous close : <b>{{previous_close}}</b></p>
        <p>Open : <b>{{open}}</b></p>
        <p>Bid : <b>{{bid}}</b></p>
        <p>Ask : <b>{{ask}}</b></p>
        <p>Volume : <b>{{volume}}</b></p>
        <p>AVG. Volume : <b>{{avgvolume}}</b></p>
        <p>days_range : <b>{{days_range}}</b></p>
        <p>week_range : <b>{{week_range}}</b></p>
        <p>market_cap : <b>{{market_cap}}</b></p>
        <p>beta : <b>{{beta}}</b></p>
        <p>pe_ratio : <b>{{pe_ratio}}</b></p>
        <p>epc : <b>{{epc}}</b></p>
        <p>earn_date : <b>{{earn_date}}</b></p>
        <p>forward_div : <b>{{forward_div}}</b></p>
        <p>ex_div : <b>{{ex_div}}</b></p>
        <p>target_est : <b>{{target_est}}</b></p>
    </div>
</body>
</html>